body {
    font-family: "Source Sans Pro", sans-serif;
}

.exercise {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

.task-text {
    padding: 10px;
    margin-top: 10px;
    background-color: #061b59;
    border-left: 4px solid #007bff;
    border-radius: 4px;
    font-size: 16px;
    color: #dfe5f0;
}
